*{
    margin: 0px;
    padding: 0px;
    color: 	#3F185B;
}
@font-face{
	src:url("mojFont.ttf");
	font-family: "Moj Font";
}
body {
    font-family: "Moj Font";
}
ul {
    list-style-type: none;
}
a{
    text-decoration: none;
}
.okvir{
    width: 1024px;
    margin: 0 auto;
}
#header{
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0px;
    z-index: 2;
    box-shadow: 3px 3px 5px #3f185b;
    background-color: #fff;
}
#header .okvir{
    display: flex;
    justify-content: space-between;
    height: 80px;
}
#menu ul{
    width: 500px;
    display: flex;
    justify-content: space-between;
}
#menu ul li{
    display: block;
    margin-top: 23px;
    padding: 3px 0px;
}
#menu ul li a{
    font-size:18px;
}
.aktivan {
    border-bottom: 3px solid #3f185b;
}
#baner{
    margin-top: 80px;
    width: 100%;
    height: 500px;
    background: url(../img/baner.jpg) no-repeat center center fixed; 
    background-size: cover;
    padding-top: 200px;
}
#baner h1{
    font-size:60px;
    text-align: center;
    padding: 70px 0px;
    background-color: rgba(255,255,255,0.6)
}
#standings{
    padding-top:20px;
}
#standings h2{
    text-align: center;
    font-size:50px;
}
#standings ul{
    margin-top:10px;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-around;
}
#standings ul li{
    display: block;
    font-size: 35px;
}
#standings #table{
    width:900px;
    margin:0 auto;
    margin-top: 30px;
    text-align:left;
    font-size:20px;
    border-collapse: collapse;
}
.rank{
    width: 8%;
}
.slika{
    width: 8%;
}
.ime{
    width: 28%}
.w{
    width:8%
}
.l{
    width:8%
}
.d{
    width:8%
}
.gplus{
    width:8%
}
.gminus{
    width:8%
}
.gd{
    width:8%
}
.p{
    width:8%
}
#table th{
    background-color: #999999;;
}
.sivRed{
    background-color: #ccc;
}
#scorers_container{
    display:none;
}
#standings #scorers{
    width:900px;
    margin:0 auto;
    margin-top: 30px;
    text-align:left;
    font-size:19px;
    border-collapse: collapse;
}
.s_rank{width:5%;}
.s_ime{width:26%}
.s_klub{width:26%}
.s_played{width:17%}
.s_golovi{width:17%}
.s_asistencije{width:9%}
#scorers th{
    background-color: #999999;
}
#scorers_container p {
    width:100px;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
    color: #fff;
    padding: 5px;
    background-color:#999999;
}
#scorers_container p:hover{
    cursor: pointer;
    background-color: #3F185B;
}
#standings li:hover, #results li:hover, #fixtures li:hover{
    cursor: pointer;
}

#results, #fixtures{
    padding-top:40px;
}
#results h2, #fixtures h2{
    text-align: center;
    font-size:50px;
}
#results ul, #fixtures ul{
    margin-top:20px;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-around;
}
#results ul li, #fixtures ul li{
    display: block;
    font-size: 25px;
}
#tabelaResults, #tableFixtures{
    width: 900px;
    margin: 0 auto;
    border-collapse: collapse;
    text-align: center;
    margin-top: 30px;
    font-size:20px;
}
.resultsSlikaDomacin{width:10%};
.resultsDomacin{width:35%};
.resultsRezultat{width:10%};
.resultsGost{width:35%};
.resultsSlikaGost{width:10%};